{% load pagination_tags %}
{% comment %}
<div class="pagination-centered">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><i class="fa fa-chevron-left"></i></a></li>
        {% else %}
            <li class="arrow unavailable"><a href="javascript:;"><i class="fa fa-chevron-left"></i></a></li>
        {% endif %}

        {% for page in pages %}
            {% if page %}
                {% if page == page_obj.number %}
                    <li class="current"><a href="javascript:;">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="unavailable"><a href="javascript:;"><i class="fa fa-ellipsis-h"></i></a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="arrow"><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"><i class="fa fa-chevron-right"></i></a></li>
        {% else %}
            <li class="arrow unavailable"><a href="javascript:;"><i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
    </ul>
</div>
<div class="pagination">
  {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}" class="button prev"><i class="fa fa-arrow-left"></i> <span>Prev</span></a>{% endif %}
  {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}" class="button next"><span>Next</span> <i class="fa fa-arrow-right"></i></a>{% endif %}
</div>

{% endcomment %}

<div class="text-center">
    <ul class="pagination pagination-arrows">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><i class="fa fa-chevron-left"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-chevron-left" style="color: #ccc;"></i></span></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"><i class="fa fa-chevron-right"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-chevron-right" style="color: #ccc;"></i></span></li>
        {% endif %}
    </ul>
</div>
<div class="text-center">
    <ul class="pagination">
        {% for page in pages %}
            {% if page %}
                {% if page == page_obj.number %}
                    <li class="active"><span>{{ page }}</span></li>
                {% else %}
                    <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="javascript:;"><i class="fa fa-ellipsis-h"></i></a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>